<%- include("./includes/header"); %>

    <h1 class="display-1">Demo 3: Tiedostojen upload</h1>
    <h2 class="display-2">Kuvagalleria</h2>

    <% if (kuvat.length > 0) { %>

        <% kuvat.forEach((kuva) => { %>

            <div class="card">
                

                <img class="card-img-top" src="/img/<%=kuva.tiedosto%>" alt="<%=kuva.tiedosto%>">
                <div class="card-body">
                    <p class="card-title"><%=kuva.teksti%></p>
                    <p class="card-text">Ladattu: <%=kuva.aika.toLocaleString()%></p>
                </div>
                
            </div>
            

        <%});%>

    <% } else { %>

        <p>Ei kuvia.</p>

    <% } %>

    <a type="button" class="btn btn-primary" href="/upload">Lisää kuvia</a>



<%- include("./includes/header"); %>