<%- include('includes/header'); %>

    <h2 class="display-2">Kuvagalleria</h2>

    <a href="/lataa" type="button" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Lisää uusi kuva</a>

    <% if (kuvat.length > 0) { %>

        <% kuvat.forEach((kuva) => { %>
            
            <div class="card">
                <img class="card-img-top" src="/img/<%=kuva.tiedosto%>" alt="<%=kuva.tiedosto%>">
                <div class="card-body">
                    <p class="card-title"><%=kuva.teksti%></p>
                    <p class="card-text">Ladattu: <%=kuva.aika.toLocaleString()%></p>
                </div>
            </div>
            

        <% }); %>

    <% } else { %>

        <p>Ei kuvia</p>

    <% } %>

<%- include('includes/footer'); %>