<%- include("./includes/header"); %>

    <h1 class="display-1">Demo 3: Tiedostojen upload</h1>
    <h2 class="display-2">Kuvagalleria</h2>

    <% if (kuvat.length > 0) { %>

        <% kuvat.forEach((kuva) => { %>

            <h4><%=kuva.teksti%></h4>

            <img src="/img/<%=kuva.tiedosto%>" alt="<%=kuva.tiedosto%>">

        <%});%>

    <% } else { %>

        Ei kuvia.

    <% } %>

    <a href="/api/upload">Lisää kuvia</a>



<%- include("./includes/header"); %>